* {
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.dark-header {
    background: #1f2937;
    color: #f9faf8;
}

.top-menu {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.top-menu div {
    flex: 1;
}

.top-menu #header-logo {
    flex-grow: 2;
}

button {
    font-size: 18px;
    color: #e5e7eb;
    background: #3882f6;
    padding: 10px;
}

.chapa-presentation {
    display: flex;
}

.chapa-presentation div {
    flex: 1;
}
